:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #fff;
  --preto: #000;
  --cinza: #e3e3e3;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--braco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
